# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
env-dev/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
.venvs
venv/
venvs/
venv_*/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.project

# VS Code
.vscode
zmichel/COSMO/example_plots/c1e_al_Beznau_03F.gif
zmichel/COSMO/example_plots/c1e_al_Bugey_03F.gif
zmichel/COSMO/example_plots/c1e_al_Fessenheim_03F.gif
zmichel/COSMO/example_plots/c1e_al_Geneve_00F.gif
zmichel/COSMO/example_plots/c1e_al_Goesgen_03F.gif
zmichel/COSMO/example_plots/c1e_al_Leibstadt_03F.gif
zmichel/COSMO/example_plots/c1e_al_Muehleberg_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Beznau_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Bugey_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Fessenheim_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Geneve_00F.gif
zmichel/COSMO/example_plots/c1e_ch_Goesgen_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Leibstadt_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Muehleberg_03F.gif
zmichel/COSMO/example_plots/plot_info
zmichel/COSMO/example_plots/startf_000-033F
zmichel/COSMO/example_plots/startf_003-033F
zmichel/COSMO/example_plots/tra_geom_000-033F
zmichel/COSMO/example_plots/tra_geom_003-033F
zmichel/COSMO/lagranto_c/plot_info
zmichel/COSMO/lagranto_c/startf_000-033F
zmichel/COSMO/lagranto_c/startf_003-033F
zmichel/COSMO/lagranto_c/tra_geom_000-033F
zmichel/COSMO/lagranto_c/tra_geom_003-033F
zmichel/COSMO/test_case/plot_info
zmichel/COSMO/test_case/startf_000-033F
zmichel/COSMO/test_case/tra_geom_000-033F
zmichel/HRES/lagranto_c/plot_info
zmichel/HRES/lagranto_c/startf_000-144F
zmichel/HRES/lagranto_c/startf_006-144F
zmichel/HRES/lagranto_c/startf_012-144F
zmichel/HRES/lagranto_c/startf_018-144F
zmichel/HRES/lagranto_c/startf_144-000B
zmichel/HRES/lagranto_c/tra_geom_000-144F
zmichel/HRES/lagranto_c/tra_geom_006-144F
zmichel/HRES/lagranto_c/tra_geom_012-144F
zmichel/HRES/lagranto_c/tra_geom_018-144F
zmichel/HRES/lagranto_c/tra_geom_144-000B
zmichel/HRES/lagranto_f/plot_info
zmichel/HRES/lagranto_f/startf_000-048F
zmichel/HRES/lagranto_f/startf_000-072F
zmichel/HRES/lagranto_f/startf_006-054F
zmichel/HRES/lagranto_f/startf_012-000B
zmichel/HRES/lagranto_f/startf_012-060F
zmichel/HRES/lagranto_f/startf_018-000B
zmichel/HRES/lagranto_f/startf_018-066F
zmichel/HRES/lagranto_f/startf_024-000B
zmichel/HRES/lagranto_f/startf_024-072F
zmichel/HRES/lagranto_f/startf_030-000B
zmichel/HRES/lagranto_f/startf_030-078F
zmichel/HRES/lagranto_f/startf_036-000B
zmichel/HRES/lagranto_f/startf_036-084F
zmichel/HRES/lagranto_f/startf_040-000B
zmichel/HRES/lagranto_f/startf_042-000B
zmichel/HRES/lagranto_f/startf_044-000B
zmichel/HRES/lagranto_f/startf_048-000B
zmichel/HRES/lagranto_f/startf_072-000B
zmichel/HRES/lagranto_f/tra_geom_000-048F
zmichel/HRES/lagranto_f/tra_geom_000-072F
zmichel/HRES/lagranto_f/tra_geom_006-054F
zmichel/HRES/lagranto_f/tra_geom_012-000B
zmichel/HRES/lagranto_f/tra_geom_012-060F
zmichel/HRES/lagranto_f/tra_geom_018-000B
zmichel/HRES/lagranto_f/tra_geom_018-066F
zmichel/HRES/lagranto_f/tra_geom_024-000B
zmichel/HRES/lagranto_f/tra_geom_024-072F
zmichel/HRES/lagranto_f/tra_geom_030-000B
zmichel/HRES/lagranto_f/tra_geom_030-078F
zmichel/HRES/lagranto_f/tra_geom_036-000B
zmichel/HRES/lagranto_f/tra_geom_036-084F
zmichel/HRES/lagranto_f/tra_geom_040-000B
zmichel/HRES/lagranto_f/tra_geom_042-000B
zmichel/HRES/lagranto_f/tra_geom_044-000B
zmichel/HRES/lagranto_f/tra_geom_048-000B
zmichel/HRES/lagranto_f/tra_geom_072-000B
zmichel/HRES/test_case/plot_info
zmichel/HRES/test_case/startf_000-048F
zmichel/HRES/test_case/tra_geom_000-048F
zmichel/test_altitude_plot/000-033F_traj.csv
zmichel/test_altitude_plot/startf.csv
zmichel/test_altitude_plot/test_altitude_plot_cases.sh
zmichel/test_altitude_plot/trajdf.csv
zmichel/test_altitude_plot/COSMO_backward/033-000B_traj.csv
zmichel/test_altitude_plot/COSMO_backward/plot_info
zmichel/test_altitude_plot/COSMO_backward/startf_033-000B
zmichel/test_altitude_plot/COSMO_backward/tra_geom_033-000B
zmichel/test_altitude_plot/COSMO_forward/000-033F_traj.csv
zmichel/test_altitude_plot/COSMO_forward/plot_info
zmichel/test_altitude_plot/COSMO_forward/startf_000-033F
zmichel/test_altitude_plot/COSMO_forward/tra_geom_000-033F
zmichel/test_altitude_plot/HRES_backward/042-000B_traj.csv
zmichel/test_altitude_plot/HRES_backward/plot_info
zmichel/test_altitude_plot/HRES_backward/startf_042-000B
zmichel/test_altitude_plot/HRES_backward/tra_geom_042-000B
zmichel/test_altitude_plot/HRES_forward/006-144F_traj.csv
zmichel/test_altitude_plot/HRES_forward/plot_info
zmichel/test_altitude_plot/HRES_forward/startf_006-144F
zmichel/test_altitude_plot/HRES_forward/tra_geom_006-144F
zmichel/test_altitude_plot/COSMO_backward/plots/033-000B/Basel-Binningen.png
zmichel/test_altitude_plot/COSMO_backward/plots/033-000B/Geneve.png
zmichel/test_altitude_plot/COSMO_backward/plots/033-000B/Jungfraujoch.png
zmichel/test_altitude_plot/COSMO_backward/plots/033-000B/Lugano.png
zmichel/test_altitude_plot/COSMO_backward/plots/033-000B/Zuerich.png
zmichel/test_altitude_plot/single/COSMO_B/plot_info
zmichel/test_altitude_plot/single/COSMO_B/startf_COSMO_B
zmichel/test_altitude_plot/single/COSMO_B/tra_geom_COSMO_B
zmichel/test_altitude_plot/single/COSMO_F/plot_info
zmichel/test_altitude_plot/single/COSMO_F/startf_COSMO_F
zmichel/test_altitude_plot/single/COSMO_F/tra_geom_COSMO_F
zmichel/test_altitude_plot/single/HRES_B/plot_info
zmichel/test_altitude_plot/single/HRES_B/startf_HRES_B
zmichel/test_altitude_plot/single/HRES_B/tra_geom_HRES_B
zmichel/test_altitude_plot/single/HRES_F/plot_info
zmichel/test_altitude_plot/single/HRES_F/startf_HRES_F
zmichel/test_altitude_plot/single/HRES_F/tra_geom_HRES_F
zmichel/test_altitude_plot/COSMO_forward/plots/000-033F/Geneve.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Bern.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Buchs.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/ChauxdeFonds.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Davos.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Lausanne.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Lugano.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Luzern.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Munsterlingen.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Neuchatel.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Payerne.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Vaduz.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Visp.png
zmichel/test_altitude_plot/HRES_backward/plots/042-000B/Zuerich.png
zmichel/test_altitude_plot/HRES_forward/plots/006-144F/Bagdad.png
zmichel/test_altitude_plot/HRES_forward/plots/006-144F/Bushehr.png
zmichel/test_altitude_plot/HRES_forward/plots/006-144F/Punggye-ri.png
zmichel/test_altitude_plot/HRES_forward/plots/006-144F/Teheran.png
zmichel/test_altitude_plot/single/COSMO_B/plots/COSMO_B/Basel-Binningen.png
zmichel/test_altitude_plot/single/COSMO_F/plots/COSMO_F/Geneve.png
zmichel/test_altitude_plot/single/HRES_B/plots/HRES_B/Payerne.png
zmichel/test_altitude_plot/single/HRES_F/plots/HRES_F/Punggye-ri.png
zmichel/test_altitude_plot.zip
zmichel/HRES/test_case/ne_110m_populated_places/ne_110m_populated_places.cpg
zmichel/HRES/test_case/ne_110m_populated_places/ne_110m_populated_places.dbf
zmichel/HRES/test_case/ne_110m_populated_places/ne_110m_populated_places.prj
zmichel/HRES/test_case/ne_110m_populated_places/ne_110m_populated_places.README.html
zmichel/HRES/test_case/ne_110m_populated_places/ne_110m_populated_places.shp
zmichel/HRES/test_case/ne_110m_populated_places/ne_110m_populated_places.shx
zmichel/HRES/test_case/ne_110m_populated_places/ne_110m_populated_places.VERSION.txt
zmichel/HRES/test_case/easy/Linate.png
zmichel/HRES/test_case/easy/plot_info
zmichel/HRES/test_case/easy/startf_000-048F
zmichel/HRES/test_case/easy/tra_geom_000-048F
zmichel/HRES/test_case/plots/000-048F/BaselBinnigen.png
zmichel/HRES/test_case/plots/000-048F/Linate.png
zmichel/HRES/test_case/plots/000-048F/BaselBinnigen_centraleurope.png
zmichel/HRES/test_case/plots/000-048F/Linate_centraleurope.png
test.png
zmichel/HRES/test_case_backward/plot_info
zmichel/HRES/test_case_backward/startf_036-000B
zmichel/HRES/test_case_backward/tra_geom_036-000B
zmichel/HRES/test_case_backward/plots/036-000B/Geneve_centraleurope.png
zmichel/HRES/test_case_backward/plots/036-000B/LocarnoMonti_centraleurope.png
zmichel/HRES/test_case_backward/plots/036-000B/Payerne_centraleurope.png
zmichel/HRES/test_case_backward/plots/036-000B/Zuerich_centraleurope.png
zmichel/HRES/test_case_forward/plot_info
zmichel/HRES/test_case_forward/startf_000-048F
zmichel/HRES/test_case_forward/tra_geom_000-048F
zmichel/HRES/test_case_no_side_traj/plot_info
zmichel/HRES/test_case_no_side_traj/startf_000-048F
zmichel/HRES/test_case_no_side_traj/tra_geom_000-048F
zmichel/HRES/test_case_no_side_traj/plots/000-048F/Lugano_centraleurope.png
zmichel/HRES/test_case_no_side_traj/plots/000-048F/Zurzach_centraleurope.png
zmichel/HRES/test_case_side_traj/plot_info
zmichel/HRES/test_case_side_traj/startf_000-048F
zmichel/HRES/test_case_side_traj/tra_geom_000-048F
zmichel/HRES/test_case_side_traj/easy/Linate.png
zmichel/HRES/test_case_side_traj/easy/plot_info
zmichel/HRES/test_case_side_traj/easy/startf_000-048F
zmichel/HRES/test_case_side_traj/easy/tra_geom_000-048F
zmichel/HRES/test_case_side_traj/easy/plots/000-048F/Linate_alps.png
zmichel/HRES/test_case_side_traj/easy/plots/000-048F/Linate_centraleurope.png
zmichel/HRES/test_case_side_traj/easy/plots/000-048F/Linate_ch_hd.png
zmichel/HRES/test_case_side_traj/easy/plots/000-048F/Linate_ch.png
zmichel/HRES/test_case_side_traj/easy/plots/000-048F/Linate_europe.png
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.cpg
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.dbf
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.prj
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.README.html
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.shp
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.shx
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.VERSION.txt
zmichel/HRES/test_case_side_traj/plots/000-048F/BaselBinnigen_centraleurope.png
zmichel/HRES/test_case_side_traj/plots/000-048F/BaselBinnigen.png
zmichel/HRES/test_case_side_traj/plots/000-048F/Linate_centraleurope.png
zmichel/HRES/test_case_side_traj/plots/000-048F/Linate.png
.gitignore
