# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
env-dev/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
.venvs
venv/
venvs/
venv_*/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.project

# VS Code
.vscode
src/pytrajplot/scratch/scratch_assemble_pdf.py
src/pytrajplot/scratch/scratch_combine_figures.py
src/pytrajplot/scratch/scratch_dateline.py
src/pytrajplot/scratch/scratch_dynamic_domain.py
src/pytrajplot/scratch/scratch_info_header.py
src/pytrajplot/scratch/scratch_various_tmp.py
src/pytrajplot/scratch/scratch_various.py
zmichel/COSMO/example_plots/c1e_al_Beznau_03F.gif
zmichel/COSMO/example_plots/c1e_al_Bugey_03F.gif
zmichel/COSMO/example_plots/c1e_al_Fessenheim_03F.gif
zmichel/COSMO/example_plots/c1e_al_Geneve_00F.gif
zmichel/COSMO/example_plots/c1e_al_Goesgen_03F.gif
zmichel/COSMO/example_plots/c1e_al_Leibstadt_03F.gif
zmichel/COSMO/example_plots/c1e_al_Muehleberg_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Beznau_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Bugey_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Fessenheim_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Geneve_00F.gif
zmichel/COSMO/example_plots/c1e_ch_Goesgen_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Leibstadt_03F.gif
zmichel/COSMO/example_plots/c1e_ch_Muehleberg_03F.gif
zmichel/COSMO/example_plots/plot_info
zmichel/COSMO/example_plots/startf_000-033F
zmichel/COSMO/example_plots/startf_003-033F
zmichel/COSMO/example_plots/tra_geom_000-033F
zmichel/COSMO/example_plots/tra_geom_003-033F
zmichel/COSMO/lagranto_c/plot_info
zmichel/COSMO/lagranto_c/startf_000-033F
zmichel/COSMO/lagranto_c/startf_003-033F
zmichel/COSMO/lagranto_c/tra_geom_000-033F
zmichel/COSMO/lagranto_c/tra_geom_003-033F
zmichel/COSMO/test_case_forward_w_sidetraj/plot_info
zmichel/COSMO/test_case_forward_w_sidetraj/startf_003-033F
zmichel/COSMO/test_case_forward_w_sidetraj/tra_geom_003-033F
zmichel/COSMO/test_case_forward_wo_sidetraj/plot_info
zmichel/COSMO/test_case_forward_wo_sidetraj/startf_000-033F
zmichel/COSMO/test_case_forward_wo_sidetraj/tra_geom_000-033F
zmichel/HRES/readme.txt
zmichel/HRES/21111706/lagranto_f/plot_info
zmichel/HRES/21111706/lagranto_f/startf_000-048F
zmichel/HRES/21111706/lagranto_f/startf_000-072F
zmichel/HRES/21111706/lagranto_f/startf_006-054F
zmichel/HRES/21111706/lagranto_f/startf_012-000B
zmichel/HRES/21111706/lagranto_f/startf_012-060F
zmichel/HRES/21111706/lagranto_f/startf_018-000B
zmichel/HRES/21111706/lagranto_f/startf_018-066F
zmichel/HRES/21111706/lagranto_f/startf_024-000B
zmichel/HRES/21111706/lagranto_f/startf_024-072F
zmichel/HRES/21111706/lagranto_f/startf_030-000B
zmichel/HRES/21111706/lagranto_f/startf_030-078F
zmichel/HRES/21111706/lagranto_f/startf_036-000B
zmichel/HRES/21111706/lagranto_f/startf_036-084F
zmichel/HRES/21111706/lagranto_f/startf_040-000B
zmichel/HRES/21111706/lagranto_f/startf_042-000B
zmichel/HRES/21111706/lagranto_f/startf_044-000B
zmichel/HRES/21111706/lagranto_f/startf_048-000B
zmichel/HRES/21111706/lagranto_f/startf_072-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_000-048F
zmichel/HRES/21111706/lagranto_f/tra_geom_000-072F
zmichel/HRES/21111706/lagranto_f/tra_geom_006-054F
zmichel/HRES/21111706/lagranto_f/tra_geom_012-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_012-060F
zmichel/HRES/21111706/lagranto_f/tra_geom_018-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_018-066F
zmichel/HRES/21111706/lagranto_f/tra_geom_024-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_024-072F
zmichel/HRES/21111706/lagranto_f/tra_geom_030-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_030-078F
zmichel/HRES/21111706/lagranto_f/tra_geom_036-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_036-084F
zmichel/HRES/21111706/lagranto_f/tra_geom_040-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_042-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_044-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_048-000B
zmichel/HRES/21111706/lagranto_f/tra_geom_072-000B
zmichel/HRES/lagranto_c/plot_info
zmichel/HRES/lagranto_c/startf_000-144F
zmichel/HRES/lagranto_c/startf_006-144F
zmichel/HRES/lagranto_c/startf_012-144F
zmichel/HRES/lagranto_c/startf_018-144F
zmichel/HRES/lagranto_c/startf_144-000B
zmichel/HRES/lagranto_c/tra_geom_000-144F
zmichel/HRES/lagranto_c/tra_geom_006-144F
zmichel/HRES/lagranto_c/tra_geom_012-144F
zmichel/HRES/lagranto_c/tra_geom_018-144F
zmichel/HRES/lagranto_c/tra_geom_144-000B
zmichel/HRES/lagranto_f/plot_info
zmichel/HRES/lagranto_f/startf_000-048F
zmichel/HRES/lagranto_f/startf_000-072F
zmichel/HRES/lagranto_f/startf_006-054F
zmichel/HRES/lagranto_f/startf_012-000B
zmichel/HRES/lagranto_f/startf_012-060F
zmichel/HRES/lagranto_f/startf_018-000B
zmichel/HRES/lagranto_f/startf_018-066F
zmichel/HRES/lagranto_f/startf_024-000B
zmichel/HRES/lagranto_f/startf_024-072F
zmichel/HRES/lagranto_f/startf_030-000B
zmichel/HRES/lagranto_f/startf_030-078F
zmichel/HRES/lagranto_f/startf_036-000B
zmichel/HRES/lagranto_f/startf_036-084F
zmichel/HRES/lagranto_f/startf_040-000B
zmichel/HRES/lagranto_f/startf_042-000B
zmichel/HRES/lagranto_f/startf_044-000B
zmichel/HRES/lagranto_f/startf_048-000B
zmichel/HRES/lagranto_f/startf_072-000B
zmichel/HRES/lagranto_f/tra_geom_000-048F
zmichel/HRES/lagranto_f/tra_geom_000-072F
zmichel/HRES/lagranto_f/tra_geom_006-054F
zmichel/HRES/lagranto_f/tra_geom_012-000B
zmichel/HRES/lagranto_f/tra_geom_012-060F
zmichel/HRES/lagranto_f/tra_geom_018-000B
zmichel/HRES/lagranto_f/tra_geom_018-066F
zmichel/HRES/lagranto_f/tra_geom_024-000B
zmichel/HRES/lagranto_f/tra_geom_024-072F
zmichel/HRES/lagranto_f/tra_geom_030-000B
zmichel/HRES/lagranto_f/tra_geom_030-078F
zmichel/HRES/lagranto_f/tra_geom_036-000B
zmichel/HRES/lagranto_f/tra_geom_036-084F
zmichel/HRES/lagranto_f/tra_geom_040-000B
zmichel/HRES/lagranto_f/tra_geom_042-000B
zmichel/HRES/lagranto_f/tra_geom_044-000B
zmichel/HRES/lagranto_f/tra_geom_048-000B
zmichel/HRES/lagranto_f/tra_geom_072-000B
zmichel/HRES/test_case_backward/plot_info
zmichel/HRES/test_case_backward/startf_036-000B
zmichel/HRES/test_case_backward/tra_geom_036-000B
zmichel/HRES/test_case_forward/plot_info
zmichel/HRES/test_case_forward/startf_000-048F
zmichel/HRES/test_case_forward/tra_geom_000-048F
zmichel/HRES/test_case_no_side_traj/plot_info
zmichel/HRES/test_case_no_side_traj/startf_000-048F
zmichel/HRES/test_case_no_side_traj/tra_geom_000-048F
zmichel/HRES/test_case_side_traj/plot_info
zmichel/HRES/test_case_side_traj/startf_000-048F
zmichel/HRES/test_case_side_traj/tra_geom_000-048F
zmichel/HRES/test_case_side_traj/easy/plot_info
zmichel/HRES/test_case_side_traj/easy/startf_000-048F
zmichel/HRES/test_case_side_traj/easy/tra_geom_000-048F
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.cpg
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.dbf
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.prj
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.README.html
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.shp
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.shx
zmichel/HRES/test_case_side_traj/ne_110m_populated_places/ne_110m_populated_places.VERSION.txt
zmichel/test_cases/test_cases.sh
zmichel/test_cases/COSMO_backward/plot_info
zmichel/test_cases/COSMO_backward/startf_033-000B
zmichel/test_cases/COSMO_backward/tra_geom_033-000B
zmichel/test_cases/COSMO_forward/plot_info
zmichel/test_cases/COSMO_forward/startf_000-033F
zmichel/test_cases/COSMO_forward/tra_geom_000-033F
zmichel/test_cases/cross_dateline_hres/plot_info
zmichel/test_cases/cross_dateline_hres/startf_006-144F
zmichel/test_cases/cross_dateline_hres/tra_geom_006-144F
zmichel/test_cases/HRES_backward/plot_info
zmichel/test_cases/HRES_backward/startf_042-000B
zmichel/test_cases/HRES_backward/tra_geom_042-000B
zmichel/test_cases/HRES_forward/plot_info
zmichel/test_cases/HRES_forward/startf_006-144F
zmichel/test_cases/HRES_forward/tra_geom_006-144F
zmichel/test_cases/single/COSMO_B/plot_info
zmichel/test_cases/single/COSMO_B/startf_COSMO_B
zmichel/test_cases/single/COSMO_B/tra_geom_COSMO_B
zmichel/test_cases/single/COSMO_F/plot_info
zmichel/test_cases/single/COSMO_F/startf_COSMO_F
zmichel/test_cases/single/COSMO_F/tra_geom_COSMO_F
zmichel/test_cases/single/HRES_B/plot_info
zmichel/test_cases/single/HRES_B/startf_HRES_B
zmichel/test_cases/single/HRES_B/tra_geom_HRES_B
zmichel/test_cases/single/HRES_F/plot_info
zmichel/test_cases/single/HRES_F/startf_HRES_F
zmichel/test_cases/single/HRES_F/tra_geom_HRES_F
sample_data.csv
zmichel/test_cases/cross_dateline_hres/plots/006-144F/Punggye-ri_dynamic.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bagdad_alps.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bagdad_centraleurope.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bagdad_ch_hd.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bagdad_ch.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bagdad_dynamic.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bagdad_europe.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bushehr_alps.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bushehr_centraleurope.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bushehr_ch_hd.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bushehr_ch.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bushehr_dynamic.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Bushehr_europe.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Punggye-ri_alps.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Punggye-ri_centraleurope.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Punggye-ri_ch_hd.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Punggye-ri_ch.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Punggye-ri_dynamic.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Punggye-ri_europe.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Teheran_alps.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Teheran_centraleurope.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Teheran_ch_hd.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Teheran_ch.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Teheran_dynamic.pdf
zmichel/test_cases/HRES_forward/plots/006-144F/Teheran_europe.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_non-rasterized_pdf/000-033F/Geneve_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_non-rasterized_pdf/003-033F/Beznau_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_non-rasterized_pdf/003-033F/Bugey_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_non-rasterized_pdf/003-033F/Fessenheim_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_non-rasterized_pdf/003-033F/Goesgen_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_non-rasterized_pdf/003-033F/Leibstadt_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_non-rasterized_pdf/003-033F/Muehleberg_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_png/000-033F/Geneve_ch_hd.png
zmichel/COSMO/lagranto_c/compare_output_files/plots_png/003-033F/Beznau_ch_hd.png
zmichel/COSMO/lagranto_c/compare_output_files/plots_png/003-033F/Bugey_ch_hd.png
zmichel/COSMO/lagranto_c/compare_output_files/plots_png/003-033F/Fessenheim_ch_hd.png
zmichel/COSMO/lagranto_c/compare_output_files/plots_png/003-033F/Goesgen_ch_hd.png
zmichel/COSMO/lagranto_c/compare_output_files/plots_png/003-033F/Leibstadt_ch_hd.png
zmichel/COSMO/lagranto_c/compare_output_files/plots_png/003-033F/Muehleberg_ch_hd.png
zmichel/COSMO/lagranto_c/compare_output_files/plots_rasterized_pdf/000-033F/Geneve_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_rasterized_pdf/003-033F/Beznau_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_rasterized_pdf/003-033F/Bugey_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_rasterized_pdf/003-033F/Fessenheim_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_rasterized_pdf/003-033F/Goesgen_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_rasterized_pdf/003-033F/Leibstadt_ch_hd.pdf
zmichel/COSMO/lagranto_c/compare_output_files/plots_rasterized_pdf/003-033F/Muehleberg_ch_hd.pdf
zmichel/HRES/test_case_side_traj/easy/plots/000-048F/Linate_ch.pdf
src/pytrajplot/docstring_template/sphinx.mustache
src/pytrajplot/docstring_template/numpy.mustache
src/pytrajplot/docstring_template/google.mustache
src/pytrajplot/docstring_template/default.mustache
src/pytrajplot/docstring_template/meteoswiss.mustache
src/pytrajplot/docstring_template/meteoswiss.mustache
src/pytrajplot/meteoswiss.mustache
src/pytrajplot/scratch/test.png
tests/test_cosmo/plot_info
tests/test_cosmo/startf_000-033F
tests/test_cosmo/tra_geom_000-033F
tests/test_cosmo/plots/000-033F/20211011T000_Geneve_LAGRANTO-COSMO-1E_Trajektorien_F_033_alps.png
tests/test_cosmo/plots/000-033F/20211011T000_Geneve_LAGRANTO-COSMO-1E_Trajektorien_F_033_centraleurope.png
tests/test_cosmo/plots/000-033F/20211011T000_Geneve_LAGRANTO-COSMO-1E_Trajektorien_F_033_ch_hd.pdf
tests/test_cosmo/plots/000-033F/20211011T000_Geneve_LAGRANTO-COSMO-1E_Trajektorien_F_033_ch_hd.png
tests/test_cosmo/plots/000-033F/20211011T000_Geneve_LAGRANTO-COSMO-1E_Trajektorien_F_033_ch.png
tests/test_cosmo/plots/000-033F/20211011T000_Geneve_LAGRANTO-COSMO-1E_Trajektorien_F_033_dynamic.png
tests/test_cosmo/plots/000-033F/20211011T000_Geneve_LAGRANTO-COSMO-1E_Trajektorien_F_033_europe.png
tests/test_hres/plot_info
tests/test_hres/startf_000-048F
tests/test_hres/tra_geom_000-048F
zmichel/test_cases/single/COSMO_F/plots/COSMO_F/20211011TCOS_Geneve_LAGRANTO-COSMO-1E_Trajektorien_F_O_F_ch_hd.png
